<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="myrobot_rpr">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import myrobot_rpr urdf file -->
    <xacro:include filename="$(find myrobot_rpr)/urdf/myRobot_rpr.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="myrobot_rpr.ros2_control.xacro" />


    <xacro:myrobot_rpr_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
